:root {
    --primaryColor:#3D5A6E;
    --redColor:#85413A;
    --lightPrimary:#5C7587;
}
.color-primary{
    color: var(--primaryColor);
}

.bg-color-primary{
    background-color: var(--primaryColor);
    border: 0;
}

.bg-color-primary:hover{
    background-color: var(--lightPrimary);
    border: 0;
}

.nav-link.active{
    background-color: var(--primaryColor)!important;
    border: 0;
    color: white!important;
}

.bg-color-red{
    background-color: var(--redColor)!important;
    border: 0;
}


body nav{
    position: sticky;
}
body #sidebar-wrapper {
    height: 100vh;
}

main::-webkit-scrollbar {
    display: none;
}

main{
    height: 100vh;
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

#ham-icon {
    display: none;
}

#login-register{
    min-width: 20rem;
}
#login-register input{
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0;
}

.card{
    width: 15rem;
}

.text-gray {
    color: gray;
}

.min-content{
    width: min-content !important;
    width: -moz-min-content !important;
    height: min-content !important;
}

.img-profile{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px solid  rgb(33, 37, 41)
}

.achievement{
    border: gray;
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 10rem;
    text-align: center;
    justify-content: center;
}


@media screen and (max-width: 850px) {
    #sidebar-wrapper{
        display: none !important;
    }
    nav {display: flex}

    #ham-icon{
        display: block !important;
        margin: 1rem;
        height: fit-content;
    }
    #login-register{
        min-width: 15rem;
        width: 80% !important;
    }

}
