:root {
    --primaryColor:#3D5A6E;
    --redColor:#85413A;
    --greenColor: #698837;
    --lightPrimary:#5C7587;
}
.color-primary{
    color: var(--primaryColor) !important;
}

.bg-color-primary{
    background-color: var(--primaryColor) !important;
    border: 0;
}

.bg-color-primary:hover{
    background-color: var(--lightPrimary) !important;
    border: 0;
}

.nav-link.active{
    background-color: var(--primaryColor)!important;
    border: 0;
    color: white!important;
}

.color-red{
    color: var(--redColor)!important;
}

.bg-color-red{
    background-color: var(--redColor)!important;
    border: 0;
}

.color-green{
    color: var(--greenColor)!important;
}

.bg-color-green{
    background-color: var(--greenColor)!important;
    border: 0;
}

#ham-icon {
    display: none;
}

#login-register{
    min-width: 20rem;
}
#login-register input{
    border-bottom: 1px solid #ced4da !important;
    border-radius: 0;
}

.card{
    width: 15rem;
}

.text-gray {
    color: gray;
}

.min-content{
    width: min-content !important;
    width: -moz-min-content !important;
    height: min-content !important;
}

.img-profile{
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border: 1px solid  rgb(33, 37, 41)
}

.img-club{
    object-fit: cover;
    width: 18rem;
    height: 10rem !important;
}

.img-club-profile{
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: 1px solid  rgb(33, 37, 41)
}

.img-club-member {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    object-fit: cover;
    border: 1px solid  rgb(33, 37, 41)
}

.total-members {
    position:absolute;
    bottom:0;
    right:0;
}

.achievement{
    border: gray;
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 10rem;
    text-align: center;
    justify-content: center;
}

.height-code {
    height: 50vh !important;
}

.flag-icon {
    width: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
}

.line-hover {
    display: inline-block;
    padding-bottom:2px;
    background-image: linear-gradient(#fff 0 0 );
    background-position: right -100% bottom 0;
    background-size: 200% 2px;
    background-repeat: no-repeat;

}
.line-hover:hover {
    background-position: left -100% bottom 0;
    transition: background-position 0.5s;
}

.tab-layout > li >button{
    color: black;
}

.fit-content{
    width: fit-content;
    width: -moz-fit-content;
}

.height-fit-content{
    height: fit-content;
}

.w-56r{
     width: 56rem;
 }

.w-10r{
    width: 10rem;
}

.w-90{
    width: 90%;
}

.tab-content{
    height: 100%;
    width: 100%;
}

.tournament-popup{
    width: 50vh !important;
}

body nav{
    position: sticky;
}
body #sidebar-wrapper {
    height: 100%;
}

main::-webkit-scrollbar {
    display: none;
}

main{
    height: 100vh;
    overflow:scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

p {
 margin: 0 !important;
}
